<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<!--FRAGMENTS-->
<div th:replace="~{fragments :: page-header}"></div>
<div th:replace="~{fragments :: script-sort-by-column}"></div>
<div th:replace="~{fragments :: script-search-table}"></div>

<!--SEARCH-->
<div class="page-title-container">
    <div style="display: flex; align-items: center; margin-right: 50px;">
        <div class="list-image-container">
            <img src="/images/apprating.png" alt="Review Image"/>
        </div>
        <div>
            <p class="bold-v1-page-title"> Menu Reviews </p>
        </div>
    </div>
    <div th:replace="~{fragments :: search-box-for-table-no-edit}"></div>
</div>

<!--TABLE-->
<div class="table-container"  style="width:70%">

    <table class="table-container-list" style="font-size:11px;">

        <!--HEADERS-->
        <tr class="list-sorted-header">
            <td><strong><a href="javascript:void(0);" onclick="sortTable(0, true)">ID</a></strong></td>
            <td><strong><a href="javascript:void(0);" onclick="sortTable(1, true)">Plate</a></strong></td>
            <td><strong><a href="javascript:void(0);" onclick="sortTable(2, true)">Date Created</a></strong></td>
            <td><strong><a href="javascript:void(0);" onclick="sortTable(3, true)">Rating</a></strong></td>
            <td><span class="bold-v5">Description</span></td>
        </tr>

        <tr th:each="review : ${reviews}">
            <td th:text="${review.id}" style="font-weight:bold;"></td>
            <td th:text="${review.plate.name}"></td>
            <td th:text="${#temporals.format(review.dateCreated, 'MMMM d, yyyy h:mm a')}" style="font-size:11px;"></td>
            <td th:text="${review.rating}"></td>
            <td th:text="${review.description}" style="font-size:11px;"></td>
        </tr>
    </table>
</div>

</body>
</html>