<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="page-title-container">
    <div class="list-image-container">
        <img src="/images/chef-243-no-bg.png" alt="Chef"/>
    </div>
    <div>
        <p class="bold-v1-page-title"> My Account </p>
    </div>
</div>

<div style="width: 80%; margin: 0 auto;">
    <div>
        1111111111111111111
    </div>
    <div>
        222222222222222222222222
    </div>
    <div>
        3333333333333333333333
    </div>
</div>

</body>
</html>
