<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div style="height: 60px;"></div>
<div class="button-grid-home">
    <a href="plates/list-plates" class="button-home">
        <img src="/images/plate-243.png" alt="Manage Plates">
        <span>Plates</span>
    </a>
    <a href="cuisines/list-cuisines" class="button-home">
        <img src="/images/cuis-243.png" alt="Manage Cuisines">
        <span>Cuisines</span>
    </a>
    <a href="http://localhost:5173/" target="_blank" class="button-home">
        <img src="/images/menu-243.png" alt="View Menu">
        <span>Menu</span>
    </a>
    <a href="summary" class="button-home">
        <img src="/images/summary-243.png" alt="View Summary">
        <span>Summary</span>
    </a>


    <a href="customers/list-customers" class="button-home">
        <img src="/images/customer-3d.png" alt="View Customers">
        <span>Customers</span>
    </a>
    <a href="deliveries/list-deliveries" class="button-home">
        <img src="/images/delivery-243.png" alt="Manage Deliveries">
        <span>Deliveries</span>
    </a>
    <a href="reviews/list-reviews" class="button-home">
        <img src="/images/perf-34.png" alt="View Reviews">
        <span>Reviews</span>
    </a>
    <a href="messages"  class="button-home">
        <img src="/images/account-243.png" alt="Manage Account">
        <span>Messages</span>
    </a>
</div>

</body>
</html>