<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="page-title-container">
    <div class="list-image-container">
        <img src="/images/cookbook.png" alt="Customer Image"/>
    </div>
    <div>
        <p class="bold-v1-page-title"> Summary </p>
    </div>
</div>

<div style="margin: 0 100px;">
    <div class="text-summary">

        <div class="button-summary">
            <p class="text-summary-top">
                <span th:text="${totalPlates}"></span>
            </p>
            <p class="text-summary-bottom"> plates on the menu </p>
            <div class="list-image-container">
                <img src="/images/meal.png" alt="plate"/>
            </div>
        </div>

        <div class="button-summary">
            <p class="text-summary-top">
                <span th:text="${totalCuisines}"></span>
            </p>
            <p class="text-summary-bottom"> different cuisines </p>
            <div class="list-image-container">
                <img src="/images/cuisine.png" alt="cuisines"/>
            </div>
        </div>

        <div class="button-summary">
            <p class="text-summary-top">
                <span th:text="${totalCustomers}"></span>
            </p>
            <p class="text-summary-bottom"> registered customers </p>
            <div class="list-image-container">
                <img src="/images/customer-review.png" alt="customers"/>
            </div>
        </div>

        <div class="button-summary">
            <p class="text-summary-top">
                <span th:text="${totalDeliveries} + 'X'"></span>
            </p>
            <p class="text-summary-bottom"> delivered orders </p>
            <div class="list-image-container">
                <img src="/images/delivery.png" alt="delivery"/>
            </div>
        </div>

        <div class="button-summary">
            <p class="text-summary-top">
                <span th:text="'$' + ${totalPlates} + 'X'"></span>
            </p>
            <p class="text-summary-bottom"> total revenue </p>
            <div class="list-image-container">
                <img src="/images/cashmoney.png" alt="Chef"/>
            </div>
        </div>

    </div>


    <p class="summary-v2-title "> Data API Links </p>
    <hr>
    <div class="button-api-container" style="font-size: 12px;">
        <button class="button-api"> <a style="color: white;" target="_blank" href="http://localhost:8080/plates/api">Plates</a></button>
        <button class="button-api"> <a style="color: white;" target="_blank" href="http://localhost:8080/cuisines/api">Cuisines</a></button>
        <button class="button-api"> <a style="color: white;" target="_blank" href="http://localhost:8080/customers/api">Customers</a></button>
        <button class="button-api"> <a style="color: white;" target="_blank" href="http://localhost:8080/reviews/api">Reviews</a></button>
        <button class="button-api"> <a style="color: white;" target="_blank" href="http://localhost:8080/deliveries/api">Deliveries</a></button>
    </div>
</div>

</body>
</html>
