<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"> </head>
<body>

<!--FRAGMENTS-->
<div th:replace="~{fragments :: page-header}"></div>
<div th:replace="~{fragments :: script-sort-by-column}"></div>
<div th:replace="~{fragments :: script-edit-within-table}"></div>
<div th:replace="~{fragments :: script-search-table}"></div>
<div th:replace="~{fragments :: script-table-rows-limit}"></div>

<!--SEARCH-->
<div class="page-title-container">
    <div th:replace="~{fragments :: manage-menu-header}"></div>
    <div th:replace="~{fragments :: search-box-for-table-edit}"></div>
</div>

<!--TABLE-->
<div class="table-container" style="display: flex; justify-content: center; align-items: center;">
    <table class="table-container-list editable-table"
           id="table-cuisine"
           data-update-url="/cuisines/api"
           style="max-width: 100%;">

        <!--HEADERS-->
        <tr class="bold-v4">
            <td><strong><a href="javascript:void(0);" onclick="sortTable(0, true)">ID</a></strong></td>
            <td><strong><a href="javascript:void(0);" onclick="sortTable(1, true)">Cuisine</a></strong></td>
            <td style="width: 400px;"><strong><a href="javascript:void(0);" onclick="sortTable(2, true)">Description</a></strong></td>
            <td><strong> </strong></td>
        </tr>

        <!-- ROWS PER ID-->
        <tr th:each="cuisine : ${cuisines}" th:data-id="${cuisine.id}">

            <td th:text="${cuisine.id}" style="font-weight: bold;"> </td>

            <td class="editable" data-column="name" th:text="${cuisine.name}"> </td>
            <td class="editable list-textarea" data-column="description" th:text="${cuisine.description}"> </td>

            <td> <!--Save button-->
                <button class="btn btn-primary save-btn">Update</button>
            </td>
        </tr>

    </table>
</div>

</body>
</html>