/* COLORS */
:root {
  --yellowy: #DAA520;
  --bluey: #1A2C4B;
  --reddy: #C05746;
  --lighter-red: #F8EEEC;
}

/* EDIT MODE */

.save-btn {
  font-size: 0.75em;
  color: white;
  border: none;
  background-color: var(--reddy);
  font-weight: bold;
}

.save-btn:hover {
  background-color: #4CBB17;
}

.save-btn:active  {
  background-color: var(--yellowy);
}

.delete-btn {
  font-size: 0.75em;
  color: white;
  border: none;
  background-color: lightgrey;
  font-weight: bold;
}

.delete-btn:hover {
  background-color: red;
}

.delete-btn:active  {
  background-color: black;
}

editable:focus {
    width: 100%;
}

/* NAVBAR */
.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-align: left;
  color: white;
  padding: 7px;
}

.navbar-header {
  font-size: 20px;
  align-items: center;
}

.navbar-brand {
  text-align: right;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
}

.navbar-brand a:hover {
  color: var(--reddy);
}

.home-icon {
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.logo-icon {
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

/* SPACERS */

.spacer-navbar {
  height: 20px;
}

/* FORMS */
.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.form-container-column {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}

.form-container form {
  width: 100%;
  margin: 10px 0;
}

.form-group span {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input, textarea, select {
  border-radius: 3px;
}

.add-image-container img {
  height: 100px;
}

.add-column {
    flex: 1;
    padding: 20px;
    margin: 5px;
}


/* Adjusting row and column structure */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.col-md-6 {
  padding: 10px;
}

/* BUTTONS */
button, input[type="submit"] {
  background-color: black;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  gap: 50px;
  margin-right: 50px;
  width: 100%;
}

.button-container button:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.button-add {
    justify-content: left;
    align-items: left;
    height: 40px;
    width: 100px;
    font-size: 12px;
}

.button-container-add {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-menu-header {
  padding: 10px 15px;
  font-size: 0.9em;
}

.div-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  justify-content:
  space-between; gap: 10px;
}

/* DELIVERY */
.delivery-summary-container {
    width: 500px;
    margin-left: 50px;
    background-color: #c43539;
    color:white;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 5px;
    overflow-y: auto;
    max-height: 70vh;
}

/* HOME */
.button-grid-home {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 50px 0px;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.button-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 4px solid #000000;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.button-page-view {
    width: 100px;
    text-decoration: none;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: var(--yellowy);
    color: black;
    font-size: 0.75em;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0px;
}

.button-home img {
  height: 100px;
}

.button-home span {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.button-home:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.button-api-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 50px;
    text-align: center;
}

.button-api {
    padding: 10px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    font-size: 1.15em;
    width: 125px;
}

.button-api:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/* SUMMARY */
.text-summary {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  text-align: center;
}

.text-summary div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.text-summary-top {
  font-size: 40pt;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.text-summary-bottom {
  font-size: 12pt;
  word-wrap: break-word;
  vertical-align: baseline;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.button-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 4px solid #000000;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* ACKNOWLEDGEMENT & RESOURCES */
.summary-v2-title {
  font-weight: bold;
  font-size: 1.25em;
  text-align: left;
  width: 100%;
  padding: 2px 0;
  margin-top: 50px;
}

.summary-v2-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.summary-v2-buttons {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  width: 75px;
  height: 75px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.summary-v2-buttons-people {
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  grid-gap: 100px;
}

.summary-v2-buttons img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* MESSAGE TEXT */
.error {
  color: #880808;
  font-size: 0.75em;
  display: block;
  padding-bottom: 3px;
}

.page-title-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bold-v1-page-title {
  font-weight: bold;
  font-size: 2em;
  color: var(--bluey);
  text-align: left;
  white-space: nowrap;
  align-items: center;
}

.bold-v2 {
  font-weight: bold;
  font-size: 2em;
  color: var(--bluey);
}

.bold-v3 {
  font-weight: normal;
}

.bold-v4 {
  font-weight: bold;
}

.bold-v5 {
  font-weight: normal;
  color: white;
  font-size: 12px;
}

/* RADIO */
.checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 0.85em;
    font-weight: lighter;
}

.checkbox-item {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.checkbox-item input{
    margin-right: 5px;
    padding: 3px;
}

/*----------------- LIST --------------------- */

.list-sorted-header {
  font-weight: bold;
}

.table-container {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    width: 90%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 70vh;
}

.table-container-list {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    align-items: center;
}

table.table-container-list {
  padding: 10px;
  border-collapse: separate;
  border-spacing: 0 5px;
  align-content: center;
}

table.table-container-list th,
table.table-container-list td {
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: black;
}

.table-list-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  color: white;
}

.list-image-container img {
  width: 90px;
  justify-content: flex-end;
  align-content: center;
}

.list-textarea {
    max-width: 400px;
    resize: vertical;
    font-size: 0.9em;
    border: none;
    background: transparent;
    outline: none;
    align-items: center;
    justify-content: left;
    resize: none;
    padding: 3px;
}

.list-dropdown-select {
    font-size: 10px;
}

.list-dropdown-select select, option {
    font-size: 10px;
    max-width: 100%;
}

.list-table-search-intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.searchInput {
    width: 300px;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    border: none;
}

.status-new {
    background-color: #816213;
    color: #DAA520;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.status-pending {
    background-color: #E30B5C;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.status-completed {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

/* BODY */
body {
  background-color: var(--yellowy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body-content {
  justify-content: center;
  padding-top: 50px;
}

body::after {
  content: '';
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  background-image: url('/images/LaunchCode-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#fragmentActionChoices {
  margin: 5px 100px 25px 100px;
  color: white;
}

#fragmentActionChoicesList {
  font-size: 1.25em;
}

/*----------------- ELEMENT --------------------- */
a {
  text-decoration: none;
  color: white;
}

td, th {
  padding: 10px;
  color: black;
}

th {
  text-align: center;
}

td {
  vertical-align: top;
}

table tr:first-child {
    background-color: black;
    border: 1px solid black;
    top: 0;  /* Ensures it stays at the top when scrolling */
    z-index: 1;
    position: sticky;
    margin: 0 10px;
}

tr:nth-child(odd) {
  background-color: var(--lighter-red);
}

tr:nth-child(even) {
  background-color: white;
}

label {
  margin-right: 15px;
}

p {
  vertical-align: top;
  margin-left: 30px;
}

div {
  padding: 5px;
}

hr {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-top: 2px solid #000;
}