<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"> </head>
<body>

<nav th:replace="~{fragments :: page-header}"></nav>
<div th:replace="~{fragments :: manage-menu-header}"></div>

<div class="form-container">
    <div class="row">

        <!-- Form Column -->
        <div class="form-container">
            <form method="post">
                <div class="form-group">
                    <label for="name">Type of cuisine or diet</label>
                    <input class="form-control" id="name" name="name" type="text" />
                    <span class="error" style="color: red;"></span>
                </div>

                <div class="button-container-add">
                    <div class="add-image-container">
                        <img src="/images/catering.png" alt="Cuisine Image"/>
                    </div>
                    <div>
                        <input type="submit" value="Add Cuisine" class="button-add" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>