<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>

<!--FRAGMENTS-->
<div th:replace="~{fragments :: page-header}"></div>
<div th:replace="~{fragments :: script-sort-by-column}"></div>
<div th:replace="~{fragments :: script-search-table}"></div>
<div th:replace="~{fragments :: script-select-status-dropdown}"></div>
<div th:replace="~{fragments :: script-select-status-color}"></div>
<div th:replace="~{fragments :: script-show-delivery}"></div>

<!--SEARCH-->
<div class="page-title-container">
    <div style="display: flex; align-items: center; margin-right: 50px;">
        <div class="list-image-container">
            <img src="/images/food-delivery-2.png" alt="Delivery Image"/>
        </div>
        <div>
            <p class="bold-v1-page-title"> Manage Deliveries </p>
        </div>
    </div>
    <div th:replace="~{fragments :: search-box-for-table-no-edit}"></div>
</div>

<div style="display: flex; justify-content: space-between; margin-top: 20px;">

    <!-- TABLE -->
    <div class="table-container" style="width: 100%;">
        <table class="table-container-list editable-table"
               id="table-delivery"
               data-update-url-status="/deliveries/api-status">
            <tr class="list-sorted-header">
                <td><strong><a href="javascript:void(0);" onclick="sortTable(0, true)">ID</a></strong></td>
                <td><strong><a href="javascript:void(0);" onclick="sortTable(1, true)">Date Created</a></strong></td>
                <td><strong><a href="javascript:void(0);" onclick="sortTable(2, true)">Customer</a></strong></td>
                <td><strong><a href="javascript:void(0);" onclick="sortTable(3, true)">Price</a></strong></td>
                <td><strong><a href="javascript:void(0);" onclick="sortTable(4, true)">Status</a></strong></td>
                <td></td>
            </tr>

            <!-- ROWS PER ID-->
            <tr th:each="delivery : ${deliveries}" th:data-id="${delivery.id}">

                <td th:text="${delivery.id}" style="font-weight: bold;"></td>

                <td th:text="${#temporals.format(delivery.dateCreated, 'MMMM d, yyyy h:mm a')}" style="font-size:11px;"></td>
                <td th:text="${delivery.customer}"></td>
                <td th:text="'$' + ${delivery.grandTotal}"></td>

                <!-- Status dropdown -->
                <td class="status-selected" id="status-cell">
                    <select class="list-dropdown-select"
                            data-column="status"
                            th:value="${delivery.status}"
                            style="width: 150px;"
                            onchange="updateStatusClass(this)">
                        <option th:each="statusOption : ${statusOptions}"
                                th:value="${statusOption}"
                                th:text="${#strings.capitalize(statusOption.name().toLowerCase())}"
                                th:selected="${delivery.status != null && delivery.status.name().toLowerCase() == statusOption.name().toLowerCase()}">
                        </option>
                    </select>
                </td>

                <td> <!--View-->
                    <button class="button-page-view" onclick="showDeliverySummary(this)">
                        View Order
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- ORDER SUMMARY -->
    <div id="delivery-summary" class="delivery-summary-container">
        <!-- Contents updated by fragment-->
    </div>

</div>

</body>
</html>